.backgroundImage {
    background-color: transparent;
}

.backgroundDark {
    background-color: rgba(0, 0, 0, 0.25); /* Dark overlay */
    background-blend-mode: darken;
}

.backgroundDarker {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    background-blend-mode: darken;
}

.backgroundDarkest {
    background-color: rgba(0, 0, 0, 0.75); /* Dark overlay */
    background-blend-mode: darken;
}